In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df_books = pd.read_pickle('../data/processed/bestsellers_cleaned')

In [3]:
df_books.head()

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8.0,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22.0,2011,Fiction
2,12 Rules For Life: An Antidote To Chaos,Jordan B. Peterson,4.7,18979,15.0,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6.0,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12.0,2019,Non Fiction

In [4]:
le = LabelEncoder()

df_books[['author', 'year', 'genre']] = df_books[['author', 'year', 'genre']].apply(le.fit_transform)
df_books

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,112,4.7,17350,8.0,7,1
1,11/22/63: A Novel,217,4.6,2052,22.0,2,0
2,12 Rules For Life: An Antidote To Chaos,132,4.7,18979,15.0,9,1
3,1984 (Signet Classics),95,4.7,21424,6.0,8,0
4,"5,000 Awesome Facts (About Everything!) (Natio...",172,4.8,7665,12.0,10,1
...,...,...,...,...,...,...,...
538,Winter Of The World: Book Two Of The Century T...,137,4.5,10760,15.0,3,0
539,Women Food And God: An Unexpected Path To Almo...,94,4.2,1302,11.0,1,1
544,Wonder,186,4.8,21625,9.0,8,0
545,Wrecking Ball (Diary Of A Wimpy Kid Book 14),118,4.9,9413,8.0,10,0
549,You Are A Badass: How To Stop Doubting Your Gr...,119,4.7,14331,8.0,10,1

In [5]:
y = df_books['user_rating']
X = df_books[['author', 'reviews', 'price', 'year', 'genre']]

In [6]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, train_size=0.8, random_state=42)

In [7]:
lr = LinearRegression()
lr.fit(xtrain, ytrain)
ypreds = lr.predict(xtest)
mean_squared_error(ypreds, ytest)

0.04215089336544302

In [8]:
def get_accuracy(ytest, ypreds): 
    abs_error = np.abs(ytest - ypreds)
    accuracy = 100 - ((abs_error / ytest) * ytest * 100)
    return accuracy

In [9]:
accuracy = get_accuracy(ytest, ypreds)
accuracy

405    74.767798
153    72.077543
496    79.447117
428    78.697181
228    70.429987
         ...
117    86.804693
254    64.630339
258    66.260203
289    77.537655
519    65.721716
Name: user_rating, Length: 70, dtype: float64

In [10]:
np.mean(accuracy)

82.60845928385118

In [11]:
rf = RandomForestRegressor(random_state=42)
rf.fit(xtrain, ytrain)
ypreds = rf.predict(xtest)
mean_squared_error(ypreds, ytest)

0.05074554285714273

In [12]:
accuracy = get_accuracy(ytest, ypreds)
np.mean(accuracy)

82.40571428571434